.Login{
    padding: 50px 0;
    height: 100vh;
}
.Login .row{
    height: 100%;
}
.Login .row .col-12{
    height: 100%;
}
.login-form{
    position: absolute;
    min-width: 40vh;
    max-width:  80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}